<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
    <head>
        <title>吐槽前任，我的前任是极品</title>
        <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>
        <link href='/css/my_base.css' rel='stylesheet' type='text/css'/>
        <script type='text/javascript' src='/js/jquery-1.7.2.min.js'></script>
        <script type='text/javascript' src='/js/jquery.noty.js'></script>
        <script type='text/javascript' src='/js/center.js'></script>
        <script type='text/javascript' src='/js/default.js'></script>
        <script type='text/javascript' src='/js/base.js'></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id='templatemo_container'>
	        <div id='templatemo_header'>
	            <div id='templatemo_menu'>
                    <ul>
		            {% block top %}
	                {% endblock %}
	                </ul>
	            </div>
			</div>
		    <div id='templatemo_content_area_context'>
            {% block context %}
            {% endblock %}
            </div>
            <div id='templatemo_footer'>
                <a href='/main/contact_us/'>联系我们</a>
                <a href='/main/about_us/'>关于我们</a>
            </div>
	    </div>
    </body>
</html>
