{% extends 'base.jinja' %}

{% block head %}
<link href='/css/my_register.css' rel='stylesheet' type='text/css'/>
<script type='text/javascript' src='/js/register.js'></script>
{% endblock %}

{% block top %}
    <li><a href='/'><b>全部</b></a></li>
    <li><a href='/main/upload/'><b>投稿</b></a></li>
    <li class='current'><a><b>注册</b></a></li>
    <li><a href='/account/login/'><b>登陆</b></a></li>
{% endblock %}

{% block context %}
<div class='templatemo_title'>用户注册</div><br>
<div class='templatemo_main_context'>
	<form method='post' action='/account/register_action/' id='register_form'>
	    {% csrf_token %}
	    <div class='register_div'>用户名</div><input type='text' name='username' class='register_input'/>
        <div class='judge_div' id='username_judge_div'></div><br><br>
        <div class='register_div'>昵称</div><input type='text' name='nickname' class='register_input'/>
        <div class='judge_div' id='nickname_judge_div'></div><br><br>
        <div class='register_div'>密码</div><input type='password' name='password' class='register_input'/>
        <div class='judge_div' id='password_judge_div'></div><br><br>
        <div class='register_div'>密码确认</div><input type='password' name='password2' class='register_input'/>
        <div class='judge_div' id='password2_judge_div'></div><br><br>
        <div class='register_div'>email地址</div><input type='text' name='email' class='register_input'/>
        <div class='judge_div' id='email_judge_div'></div><br><br>
        <input type='button' value='提交' id='register_button' class='base_button'/><br>
	</form>
</div>
<br>
{% endblock %}
